/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #ebebeb;
}
#home-jumbotron {
  background-image: url("/images/dugong_jumbotron.jpg");
  min-height: 450px;
}
#home-jumbotron, #zoo-jumbotron {
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
#home-jumbotron h1, #zoo-jumbotron h1 {
  font-family: 'verdana'
  font-size: 4em;
}
#home-jumbotron h2,#home-jumbotron p, #zoo-jumbotron h2, #zoo-jumbotron p {
  font-family: 'ubuntu';
}

h2 {
   margin-top: 1.5em;
}
