     <hr>

    <div class="container">
      <footer>
        <p>&copy; 2019 Dugong - <a href="/">Home</a> - <a href="/about">About Us</a> - <a href="/contact">Contact Us</a></p>
        <p><i><a href="https://www.york.ac.uk/about/legal-statements/">Legal disclaimer</a></i></p>
        <p>Did you know? The <strong>Dugong</strong> is a <strong>Herbivore Mammal</strong>. They are collectively known as a <strong>herd</strong>, has a lifespan of <strong>70 years</strong> and weighs between <strong>510 to 1,100lbs</strong>. </p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScrip

    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
