<nav aria-tag="Gallery navigation">
  <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="./gallery_1.php">1</a></li>
        <li class="page-item"><a class="page-link" href="./gallery_2.php">2</a></li>
        <li class="page-item"><a class="page-link" href="./gallery_3.php">3</a></li>
        <li class="page-item"><a class="page-link" href="./gallery_4.php">4</a></li>
        <li class="page-item"><a class="page-link" href="./gallery_5.php">5</a></li>
	      <li class="page-item"><a class="page-link" href="./gallery_6.php">6</a></li>
        <li class="page-item"><a class="page-link" href="./gallery_7.php">7</a></li>
   </ul>
</nav>
